* {
  box-sizing: border-box;
}

.container {
  display: grid;
/* Shorthand for this property: 4 columns at 1 fraction each */
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 20% 10% 60% 10%;
  grid-gap: 10px;
}

header {
  grid-column: 1/4;
  grid-row: 1/1;
  color: #fff;
  background-color: #0099cc;
  padding: 25px 40px 10px;
}

.tagline {
  font-style: italic;
  font-size: 26px;
  margin-top: -24px;
}

nav {
  grid-column: 1/4;
  grid-row: 2/2;
  border-bottom: 1px solid #e6e6e6;
  padding-top: 8px;
  padding-bottom: 8px;
  margin-top: -10px;
}

ul {
  list-style-type: none;
}

li {
  display: inline;
}

a {
  text-decoration: none;
}

nav a:link {
  font-weight: bold;
  font-size: 12px;
  color: #333;
  margin-right: 18px;
}

nav a:visited {
  font-weight: bold;
  font-size: 12px;
  color: #333;
  margin-right: 18px;
}

nav a:hover {
  font-weight: bold;
  font-size: 12px;
  background-color: #0099cc;
  border: 1px solid #0099cc;
  border-radius: 2px;
  padding: 6px 6px 4px 6px;
  color: #fff;
  margin-right: 18px;
}

nav a:active {
  font-weight: bold;
  font-size: 12px;
  background-color: #fff;
  border: 1px solid #0099cc;
  border-radius: 2px;
  padding: 6px 6px 4px 6px;
  color: #0099cc;
  margin-right: 18px;
}

.main-content {
  grid-column: 1/3;
  grid-row: 3/4;
  padding: 14px 0px 0px 40px;
  width: 90%;
}

.sidebar {
  grid-column: 3/3;
  grid-row: 3/4;
  max-width: 300px;
  margin: 20px 20px 20px 0px;
  border: 1px solid #e6e6e6;
  padding: 0px 20px 20px 20px;
}

figure {
  margin-left: 0px;
}

a.highlight:link {
  color: #0099cc;
  font-weight: normal;
  font-size: 12px;
  padding: 4px 10px 4px 0px;
}

a.highlight:visited {
  font-weight: normal;
  font-size: 12px;
}

a.highlight:hover {
  color: #fff;
  font-weight: bold;
  background-color: #cc0066;
  padding-left: 4px;
}

a.highlight:active {
  font-weight: bold;
  font-size: 12px;
  background-color: #0099cc;
  padding-left: 4px;
}

i {
  margin-left: 4px;
  font-size: 14px;
}

i:hover {
  color: #fff;
}

body {
  font-family: Arial, sans-serif;
  font-size: 14px;
  color: #333;
}

h1{
  font-weight: bold;
  font-size: 48px;
}

h2 {
  font-weight: bold;
  font-size: 24px;
  color: #0099cc;
  line-height: 1.2em;
  padding-top: 20px;
}

h3 {
  font-weight: bold;
  font-size: 18px;
  line-height: 1.2em;
  padding-top: 20px;
}

.header-border {
  border-top: 1px dotted #e6e6e6;
  line-height: 2em;
  margin-bottom: -6px;
}

p {
  line-height: 1.5em;
}

.sidebar p {
  margin-top: 30px;
}

footer {
  grid-column: 1/4;
  grid-row: 4/4;
  background-color: #333;
  padding: 30px 0px 20px 0px;
  max-height: 220px;
  color: #fff;
  text-align: center;
  font-size: 10px;
  line-height: 1.8em;
}

.footer-logo {
  display: block;
  width: 225px;
  margin-left: auto;
  margin-right: auto;
}

a.footer-link:link {
  font-weight: normal;
  color: #fff;
  text-decoration: none;
  padding: 2px 10px 2px 10px;
}

a.footer-link:visited {
  font-weight: normal;
  color: #fff;
}

a.footer-link:hover {
  font-weight: bold;
  color: #cc0066;
  text-decoration: underline;
}

a.footer-link:active {
  font-weight: bold;
  color: #666;
  text-decoration: underline;
}
